@import url('utilities.css');

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.piece-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece-text {
  padding-left: 5rem;
  user-select: none;
  font-family: m-sketch-ii, sans-serif;
  font-size: 1rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.08rem;
  text-shadow: 0.10rem 0.10rem 0.90rem #2200ff, -0.09rem -0.09rem 0 #ff0000, 0.10rem -0.10rem 0.60rem #ff9900;
}

.line span {
  transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.line span:hover {
  color: rgb(255, 223, 223);
  text-shadow: 0.10rem 0.10rem 0.80rem #00ddff, -0.09rem -0.09rem 0.40rem #a6b7ff, 0 0 2rem #ffffff;
  filter: brightness(150%), saturate(150%);
}

.line span:active {
  cursor: cell;
  color: white;
}

.glow {
  color: rgb(230, 239, 255);
  text-shadow: 0.10rem 0.10rem 0.80rem #ffebeb, -0.09rem -0.09rem 0.50rem #0010bd, 0 0 2rem #07ffea;
  filter: brightness(150%), saturate(150%);
}

.poem-indent {
  margin-left: 1rem;
}

.chaos {
  max-height: 35rem;
  max-width: 100%;
}

@media (min-width: 1000px) {
  .chaos {
    height: 50rem;
  }
  .piece-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .page-container {
    height: 99vh;
  }
  .piece-wrapper {
    position: absolute;
    top: 12.5rem;
  }
  .piece {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .piece-text {
    margin-bottom: 10rem;
    padding-left: 0;
    font-size: 0.7rem;
    word-spacing: 0.02rem;
    text-shadow: 0.02rem 0.02rem 0.90rem #2200ff, -0.02rem -0.02rem 0 #ff0000, 0.02rem -0.02rem 0.60rem #ff9900;
  }
  .poem-indent {
    margin-left: 0.7rem;
  }
  .chaos {
    height: 50%;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 700px) {
  .chaos {
    width: 70%;
    margin-bottom: 4rem;
  }
  .piece-text {
    font-size: 0.7rem;
  }
html, body {
  height: 100%;
  width: 100%;
  margin-bottom: 10rem;
 }
}
