@import url('utilities.css');

html, body {
  height: 100%;
  width: 100%;
  cursor: crosshair;
}
.piece {
  display: flex;
  align-items: center;
  justify-content: center;  
  user-select: none;
}
.piece-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece-text {
  padding-left: 5rem;
  user-select: none;
  
  font-family: m-sketch-ii, sans-serif;
    font-size: 1.75rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.08rem;
    text-shadow: 0.10rem 0.10rem 0.90rem #2200ff,
                -0.09rem -0.09rem 0 #ff0000,
                0.10rem -0.10rem 0.60rem #ff9900;
}
.line span {
  transition: text-shadow 0.5s ease-in-out, color 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.line span:hover {
  color: rgb(255, 223, 223);
  text-shadow: 0.10rem 0.10rem 0.80rem #ff0000,
               -0.09rem -0.09rem 0.40rem #ff6600,
               0 0 2rem #ffffff;
  filter: brightness(150%), saturate(150%);
}
.line span:active {
  cursor:cell;
  color: white;
}
.glow {
  color: rgb(255, 53, 77);
  text-shadow: 0.10rem 0.10rem 0.80rem #ff9e9e,
               -0.09rem -0.09rem 0.50rem #bd1000,
               0 0 2rem #ff0707;
  filter: brightness(150%), saturate(150%);
}
.poem-indent {
  margin-left: 1.5rem;
}
.chaos {
  height: 50rem;
}
@media (max-width: 1300px) {
 .piece-text {
    font-size: 0.8rem;
      word-spacing: 0.3rem;
 }
 .chaos {
   height: 35rem;
 }
}

@media (max-width: 675px) {
  .page-container {
    height: 99vh;
    cursor: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .piece-wrapper {
    position: absolute;
    top: 12.5rem;
  }
  .piece {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .piece-text {
    margin-bottom: 10rem;
    padding-left: 0;

    font-size: 0.9rem;
      word-spacing: 0.10rem;
      text-shadow: 0.02rem 0.02rem 0.90rem #2200ff,
                  -0.02rem -0.02rem 0 #ff0000,
                  0.02rem -0.02rem 0.60rem #ff9900
  }
  .poem-indent {
    margin-left: 0.7rem;
  }
  .chaos {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
  }
}
