/* @import url('utilities.css'); */

.piece {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece-text {
  font-family: m-sketch, sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  word-spacing: 0.4rem;
  padding-left: 5rem;
  text-shadow: 
    0.10rem 0.10rem 0.90rem #2200ff,
    -0.09rem -0.09rem 0 #ff0000,
    0.10rem -0.10rem 0.60rem #ff9900
  ;
}

.chaos {
  height: 60rem;
}

.poem-indent {
  margin-left: 2rem;
}

@media (width <= 1000px) {
  .piece {
    flex-direction: column;
    margin-top: 30rem;
  }
  .piece-text {
    font-size: 0.90rem;
    padding-left: 1rem;
    margin-bottom: 10rem;
  }
  .chaos {
    height: auto;
    width: 25rem;
    margin-bottom: 2rem;
  }
}
