@import url('utilities.css');

/* temporary styles */
/*  
div {
  border: 1px dashed red;
} 
*/  
/* to be removed later */

html, body {
  height: 100%;
  width: 100%;
}

.hr {
  margin-top: 1rem;
  margin-bottom: -0.75rem;
  border: solid white 1px;
  width: 99.5%;
  border-radius: 2px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17.5%;
  min-width: 19rem;
  height: 100%;
  padding: 0 0.5rem;
}

.intro-header {
  font-size: 3.10rem;
}

.sub-title1, .sub-title2 {
  margin-top: -2rem;
  font-family: m-sketch, sans-serif;
  word-spacing: 0.25rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: rgb(137, 230, 235);
  margin-bottom: -0.25rem;
}

.links {
  font-size: 1.25rem;
  color: white;
}

.links a:hover {
  color: rgb(255, 115, 107);
  text-shadow: 0.10rem 0.10rem 0.80rem #ff0000,
               -0.09rem -0.09rem 0.40rem #5174ff,
               0 0 2rem #ff9900;
  filter: brightness(250%);
  transition: filter 0.5s;
}

.links a {
  font-family: m-sketch, sans-serif;
  text-decoration: none;
  color: rgb(255, 115, 107);
}


.sub-title2 {
  margin-top: 1rem;
  font-size: 0.90rem;
  line-height: 0.75rem;
} 

.featured {
  border-right: solid white 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.featured-img-container {
  position: relative;
}

.featured-img {
  height: 50rem;
}

.featured-text {
  font-family: m-sketch;
  position: absolute;
  left: 1.5rem;
  top: -1rem;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  text-transform: uppercase;
  word-spacing: 0.25rem;
}

@media (width <= 1300px) {
  .featured-img {
    height: 40rem;
  }
  .intro-header {
    font-size: 2rem;
  }
  .sub-title1 {
    font-size: 0.9rem;
  }
}

@media (width <= 900px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
  }
  .intro {
    width: 60%;
    border-right: none;
  }
  .intro-header {
    margin-top: 12.5rem;
    font-size: 2.5rem;
  }
  .featured {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-right: none;
  }
  .featured-img {
    height: 25rem;
    margin-bottom: 5rem;
  }
  .featured-text {
    font-size: 0.8rem;
    top: -1.5rem;
    left: 0.5rem;
  }
  .sub-title1 {
    font-size: 1rem;
  }
}