@import url('utilities.css');

/* temporary styles */
/*
div {
  border: 1px dashed red;
} 

/* to be removed later */

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.15rem;
  overflow : hidden;
}

.construction {
  color: rgb(225, 154, 128);
  font-size: 1.25rem;
}
.page-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* title card */
.landing { 
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-family: msketch-iv, sans-serif;
  text-align: center;
}
.intro {
  max-width: 440px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem;
}
.intro-header {
  margin-bottom: 0.8rem;

  font-family: excon, sans-serif;
  font-size: 2.9rem;
    word-spacing: 0.05rem;
    letter-spacing: 0.05rem;
    line-height: 3.25rem;
}
.sub1, .sub2 {

  font-size: 2rem;
    letter-spacing: 0.010rem;
  text-align: left;
}
.sub1 {
  margin-top: -1.90rem;

  color: white;
  font-size: 1.35rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}


@keyframes flicker {
  20% {
    backdrop-filter: brightness(150%),
    blur(0.5rem);
    text-shadow: 0.10rem 0.10rem 0.80rem #fff2dba2,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
  }
  40% {
    backdrop-filter: brightness(150%),
    blur(0.5rem);
    text-shadow: 0.10rem 0.10rem 0.80rem #fff2db9e,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
  }
  60% {
    backdrop-filter: brightness(150%),
    blur(0.5rem);
    text-shadow: 0.10rem 0.10rem 0.90rem #fff2db,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
  }
  80% {
    backdrop-filter: brightness(100%),
    blur(0.5rem);
    text-shadow: 0.10rem 0.10rem 0.90rem #fff2db,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
  }
  100% {
    backdrop-filter: brightness(100%),
    blur(0.5rem);
    text-shadow: 0.10rem 0.10rem 0.90rem #fff2db8d,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
  }
}
@keyframes flicker2 {
  20% {
    filter: brightness(130%);
  }
  40% {
    filter: brightness(115%);
  }
  60% {
    filter: brightness(100%);
  }
  80% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(115%);
  }
}



.title-nav, .main-nav {
  margin-bottom: 2rem;
  animation: flicker2 5s infinite linear;

  color: white;
  font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: left;
}
.title-nav a, .main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 1.15rem #ffffffa7;
  filter: brightness(200%), saturate(200%);
}
.main-nav a {
  text-shadow: 0.10rem 0.10rem 1rem #fff2db,
  -0.09rem -0.09rem 0.40rem #5174ff,
}
.title-nav a:hover {
  animation: flicker 3s infinite linear;
  filter: brightness(3000%);
  text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
               -0.09rem -0.09rem 0.40rem #5174ff,
               0 0 2rem #ff9900;
  color: white;
  transition: filter 1s;
}
.main-nav a:hover {
  animation: flicker 3s infinite linear;
  filter: brightness(3000%);
  color: white;
  text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
               -0.09rem -0.09rem 0.40rem #5174ff,
               0 0 2rem #ff9900;
  transition: filter 10s;
}

.art-nav, .design-nav, .web-design-nav {
  font-style: italic;
  color: rgb(255, 255, 255);
}
.gallery-link {
  color: rgb(115, 239, 251);
  text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
  -0.09rem -0.09rem 0.40rem #5174ff,
  0 0 2rem #ff9900;
}
.ko-fi-link{
  color: rgb(0, 162, 255);
  text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
  -0.09rem -0.09rem 0.40rem #5174ff,
  0 0 2rem #ff9900;
}
.instagram, .github, .email {
  color: rgb(255, 149, 0);
  font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: left;
    text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
    -0.09rem -0.09rem 0.40rem #5174ff,
    0 0 2rem #ff9900;
}

.hr {
  width: 100%;
  position: relative;
  margin-top: 1rem;
  margin-bottom: -0.35rem;

  border: white solid 0.5px;
  border-radius: 2px;
  color: rgb(255, 115, 107);
}
.sub3 {
  font-size: 1.30rem;
    text-align: left;
    letter-spacing: 0.010rem;
    word-spacing: 0.05rem;
}
  /* end title card */
  
  
.featured {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-img-container {
  position: relative;
}
.featured-img {
  height: 45rem;
  margin: 2rem 0;
}
.featured-text {
  position: absolute;
  left: 0;
  top: -1.5rem;

  font-family: m-sketch-ii , sans-serif;
  text-transform: uppercase;
  font-size: 1.15rem;
    letter-spacing: 0.06rem;
    word-spacing: 0.25rem;
}
.featured-bottom-text {
  position: absolute;
  bottom: -1.75rem;
  right: 0;

  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
    word-spacing: -0.15rem;
}


@media (min-width: 1921px) {
  .page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .landing {
    width: 50%;

    transform: scale(1.25);
  }
  .featured {
    width: 50%;

    transform: scale(1.25);
  }
  .featured-img-container {
    padding-right: 10rem;
  }
  .featured-bottom-text {
    right: 10rem;
  }
}
@media (max-width: 1300px) {
  .featured-img {
    height: 40rem;
  }
}
@media (max-width: 900px) {
  .page-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    transform: scale(0.85);
  }
  .intro-header {
    margin-bottom: 0.25rem;

    text-align: left;
    font-size: 1.85rem;
  }
  .landing {
    transform: scale(0.95);
    width: 100%;
    position: relative;
    margin-top: 5rem;
    margin-left: -0.5rem;
  }
  .featured {
    right: 0;
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    padding-bottom: 10rem;
  }
  .featured-img {
    height: 25rem;
  }
  .featured-text, .featured-bottom-text {
    font-size: 0.75rem;
  }
  .sub1 {
    padding-left: 0;
    font-size: 1rem
  }
  .sub2, .sub3, .title-nav {
    padding-left: 0;
    font-size: 1.25rem;
  }
}