@import url('utilities.css');

/* temporary styles */
/*  
div {
  border: 1px dashed red;
} 
*/  
/* to be removed later */

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.15rem;
}

.hr {
  position: relative;
  border: white solid 0.5px;
  border-radius: 2px;
  color: rgb(255, 115, 107);
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -0.35rem;
}

/* title card */
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 17.5%;
  min-width: 19rem;
  max-width: 19rem;
  height: 100%;
  padding: 0 0.5rem;
}
.intro-header {
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  word-spacing: -0.10rem;
  margin-bottom: 1.8rem;
  line-height: 3.25rem;
}
.intro-big {
  font-size: 4.40rem;
  text-align: center;
}
.sub1 {
  margin-top: -2rem;
  font-family: msketch-iv, sans-serif;
  font-size: 1.55rem;
  letter-spacing: 0.010rem;
  color: rgb(137, 230, 235);
}
.sub1-line-a {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
}
.sub1-line-b {
  margin-top: -1.5rem;
  color: orange;
}
.sub2 {
  font-family: msketch-iv, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.010rem;
  word-spacing: 0.005rem;
  color: rgb(255, 255, 255);
}
.title-nav {
  font-family: m-sketch, sans-serif;
  font-size: 1.10rem;
  color: white;
  letter-spacing: 0.05rem;
  word-spacing: 0.25rem;
}
.title-nav a:hover {
  color: rgb(255, 115, 107);
  text-shadow: 0.10rem 0.10rem 0.80rem #fff2db,
               -0.09rem -0.09rem 0.40rem #5174ff,
               0 0 2rem #ff9900;
  filter: brightness(250%);
  transition: filter 0.5s;
}
.title-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 115, 107);
}
.title-nav .gallery-link {
  color: rgb(137, 230, 235);
}
/* end title card */


.featured {
  border-right: solid white 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.featured-img-container {
  position: relative;
}

.featured-img {
  height: 50rem;
}

.featured-text {
  font-family: m-sketch-ii , sans-serif;
  position: absolute;
  left: 2rem;
  top: -1.15rem;
  letter-spacing: 0.06rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  word-spacing: 0.25rem;
}

.featured-bottom-text {
  font-family: m-sketch-ii , sans-serif;
  position: absolute;
  right: 2rem;
  bottom: -1.15rem;
  letter-spacing: 0.06rem;
  font-size: 1.15rem;
  word-spacing: 0.25rem;
}

@media (max-width: 1300px) {
  .featured-img {
    height: 40rem;
  }
}

@media (max-width: 900px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
  }
  .intro {
    width: 60%;
    border-right: none;
  }
  .intro-header {
    margin-top: 20rem; 
  }
  .featured {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-right: none;
  }
  .featured-img {
    height: 25rem;
    margin-bottom: 5rem;
  }
  .featured-text {
    font-size: 0.8rem;
    top: -1.5rem;
    left: 0.5rem;
  }
  .featured-bottom-text {
    font-size: 0.7rem;
    bottom: 3.5rem;
    right: 0.5rem;
  }
}