@import url('utilities.css');

/* temporary styles */
/*
div {
  border: 1px dashed red;
} 
*/
/* to be removed later */


html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  font-family: 'Excon', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17.5%;
  height: 100%;
}

.intro-header {
  font-size: 4rem;
}

.sub-title1, .sub-title2 {
  margin-top: -2rem;
  font-family: m-sketch-ii, sans-serif;
  font-size: 1.35rem;
  text-transform: uppercase;
  color: rgb(137, 230, 235);
  margin-bottom: -0.25rem;
}

.sub-title1 a {
  font-family: m-sketch, sans-serif;
  color: magenta;
  text-decoration: none;
}

.sub-title2 {
  margin-top: 1rem;
  font-size: 0.80rem;
} 

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.featured-img-container {
  position: relative;
}

.featured-img {
  height: 50rem;
}

.featured-text {
  font-family: m-sketch;
  position: absolute;
  left: 1.5rem;
  top: -1rem;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  text-transform: uppercase;
  word-spacing: 0.25rem;
}

@media (width <= 1300px) {
  .featured-img {
    height: 40rem;
  }
  .intro-header {
    font-size: 2rem;
  }
  .sub-title1 {
    font-size: 0.9rem;
  }
}

@media (width <= 900px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
  }
  .intro {
    width: 60%;
  }
  .intro-header {
    margin-top: 12.5rem;
    font-size: 2.5rem;
  }
  .featured {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .featured-img {
    height: 25rem;
    margin-bottom: 5rem;
  }
  .featured-text {
    font-size: 0.8rem;
    top: -1.5rem;
    left: 0.5rem;
  }
  .sub-title1 {
    font-size: 1rem;
  }
}